* {
    margin: 0;
    padding: o;
    font-family: 'Poppins', sans-serif;
}
.main_box {
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;

}

.sidebar_menu {
    position: fixed;
    /* left: -300px; */
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 7px rgb(255, 255, 255, 0.5);

}

.sidebar_manu .logo {
    position:  absolute;
    width: 100%;
    line-height: 60px ;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
}

.sidebar_manu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_manu.btn_two {
    color: gray;
    font-size: 30px;
    line-height: 60px;
    position: absolute;
    left: 500px;
    opacity: 0;

}

.sidebar_manu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_manu .manu li {
    margin-top: 6px;
    padding: 20px 20px ;
}

.sidebar_manu ,.manu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_manu .manu i {
    padding-right: 8px;

}

.sidebar_manu .social_media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25px;
    bottom: 20px;
}

.sidebar_manu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0.5px;
}

#check {
    display: none;
}

.sidebar_manu ,manu li.honer {
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
}
